{% extends "bootstrap/base.html" %}

{% block title %} A1-Album {% endblock title %}

{% block navbar %}
    <!-- <h1>Welcom ECE1779 Assignment 1</h1><br> -->

<ul class ="nav nav-tabs">
    <li><a href="/index">Home</a></li>
    <li class="active"><a href="/album">Album</a></li>
</ul>

{%- endblock navbar %}


{% block content %}
    
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert-{{ message[0] }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
    </div>
    
    {% endfor %}

    
    <h3>This is my album.</h3>
    <br>
    <button type="button" class="btn"><a href="/upload">Upload New Photo</a></button>
    <br><br>

    <div class="col-md-3">
        {% for url in urls %}
        <img src="{{ url }}" class="img-thumbnail">
        {% endfor %}
    </div>
    <!-- {% for url_row in urls | batch(3, '&nbsp;') %}
    <div class="row">
        {% for urls in url_row %}
        <img src="{{ url }}" class="img-thumbnail">
        {% endfor %}
    </div>
    {% endfor %} -->

{% endblock %}