<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ui.css') }}">
    {% extends "bootstrap/base.html" %}
    {% block title %} A1-Album {% endblock title %}
</head>

{% block navbar %}
    <!-- <h1>Welcom ECE1779 Assignment 1</h1><br> -->

    <ul class="nav nav-tabs">
        <li><a href="/index">Home</a></li>
        <li class="active"><a href="/album">Album</a></li>
    </ul>

{%- endblock navbar %}


{% block content %}

    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    <br>
    <button type="button" class="btn btnBlock"><a href="/upload">Upload New Photo</a></button>
    <br><br>

    <div class="imageList">
        {% for url in urls %}
            <div class="imageBlock">
                <img src="{{ url[0] }}" class="img-thumbnail listImage">
                <a class="imgLabel" href="{{ url_for('viewImage', key=url[1]) }}">{{ url[2] }}</a>
            </div>

        {% endfor %}
    </div>
    <!-- {% for url_row in urls | batch(3, '&nbsp;') %}
    <div class="row">
        {% for urls in url_row %}
        <img src="{{ url }}" class="img-thumbnail">
        {% endfor %}
    </div>
    {% endfor %} -->

{% endblock %}