
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ui.css') }}">
    {% extends "bootstrap/base.html" %}
    {% block title %} A1-Album {% endblock title %}
</head>

<body>
{% block navbar %}
    <!-- <h1>Welcom ECE1779 Assignment 1</h1><br> -->

<ul class ="nav nav-tabs">
    <li><a href="/index">Home</a></li>
    <li class="active"><a href="/album">Album</a></li>
</ul>

{%- endblock navbar %}


{% block content %}
    <br>
    <button type="button" class="btn"><a href="/album">Back to Album</a></button>
    
    <div class="twoImageBlock">
        <div class="imageBlock">
            <img src="{{ key0 }}" class="bigImage">
            <p class="imgLabel">original image</p>
        </div>
        <div class="imageBlock">
            <img src="{{ key1 }}" class="bigImage">
            <p class="imgLabel">after detected</p>
        </div>

    </div>


{% endblock %}
</body>