<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
        <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>       
        <script type="text/javascript" src="/js/flot/jquery.flot.js"></script>
        <script type="text/javascript" src="/js/flot/jquery.flot.time.js"></script>    
        <script type="text/javascript" src="/js/flot/jquery.flot.axislabels.js"></script>

        <title>{{title}}</title>

    </head>
    <body>
        <h1>{{title}}</h2>
        {% block content %}
        {% endblock %}
    </body>
</html>