<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    {% extends "base1.html" %}
    {% block title %} manager app {% endblock title %}
</head>

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Manager</a>
</nav>
{%- endblock navbar %}

{% block content %}

<div style="display: flex">
    <div>
        <button class="btn btn-primary config-btn workerinfo-back-btn"
            onclick="window.location.href='/'">Back</button>
        <table class="table table-bordered worker-info-table">
            <tr>
                <td>ID</td>
                <td> {{ instance.id }} </td>
            </tr>
            <tr>
                <td>Image AMI ID</td>
                <td> {{ instance.image_id }}</td>
            </tr>
            <tr>
                <td>Key Pair</td>
                <td> {{ instance.key_name }}</td>
            </tr>
            <tr>
                <td>Public IP Address</td>
                <td> {{ instance.public_ip_address }}</td>
            </tr>
            <tr>
                <td>State</td>
                <td> {{ instance.state['Name'] }}</td>
            </tr>
        </table>
    </div>
    <div class="charts-block">
        <h2>CPU</h2>
        <div id='cpu_plot' style='width:600px; height:150px'></div>

        <h2>HTTP Request</h2>
        <div id='http_plot' style='width:600px; height:150px'></div>
    </div>
</div>

<script type='text/javascript'>

    var options = {
        series: {
            lines: { show: true },
            points: { show: true }
        },
        xaxis: {
            mode: "time",
            timeformat: "%H:%M"
            // tickSize: [5, 'minute']
        }
    };


    $.plot($("#cpu_plot"), [{{ cpu_stats }}], options);
    $.plot($("#http_plot"), [{{ http_stats }}], options);

</script>

{% endblock %}

</html>