{% extends "base1.html" %}
{% block content %}


    <table>
    <thead>
       <th>ID</th>
       <th>Type</th>
       <th>Availability Zone</th>
       <th>Status</th>
    </thead> 
    {% for instance in instances %}
        <tr>
            <td>{{ instance.id }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.placement['AvailabilityZone']}}</td>
            <td>{{ instance.state['Name'] }}</td>
            <td>
                <form action="{{url_for('viewWorker',id=instance.id)}}" method='get'>
                    <input type='submit' value='Details' />
                </form>
            </td>

        </tr>
    {% endfor %}
    </table>
{% endblock %}