{% extends "base1.html" %}
{% block content %}
    <form action='{{url_for("workerList")}}' method='get'>
        <input type='submit' value='Back'>
    </form>

    <table>
        <tr><td>ID</td><td> {{ instance.id }} </td></tr>
        <tr><td>Image AMI ID</td><td> {{ instance.image_id }}</td></tr>
        <tr><td>Key Pair</td><td> {{ instance.key_name }}</td></tr>
        <tr><td>Public IP Address</td><td> {{ instance.public_ip_address }}</td></tr>
        <tr><td>State</td><td> {{ instance.state['Name'] }}</td></tr>
    </table>


    <h2>CPU</h2>
    <div id='cpu_plot' style='width:600px; height:150px'></div>

    <h2>HTTP Request</h2>
    <div id='http_plot' style='width:600px; height:150px'></div>

    
    <script type='text/javascript'>
    // $(function () {
    //     var now = new Date().getTime();
        var options = {
            series: {
                lines: {show: true},
                points: {show: true}
            }
            // xaxis: {
            //     mode: "time",
            //     tickSize: [60, "second"],
            //     // timeformat: "%H:%M"
            //     // tickFormatter: function(v, axis) {
            //     //     var date = new Date(v);

            //     //     if (date.getSeconds() % 20 == 0) {
            //     //         var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            //     //         var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            //     //         var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

            //     //         return hours + ":" + minutes + ":" + seconds;
            //     //     } else {
            //     //         return "";
            //     //     }
            //     // }
            // }
        };

        $.plot($("#cpu_plot"), [ {{ cpu_stats }} ], options);
        $.plot($("#http_plot"), [ {{ http_stats }} ], options);
    
        // var updateInterval = 60000;
        // var cpu_plot = $.plot($("#cpu_plot"), [ {{ cpu_stats }} ], options);
        // var http_plot = $.plot($("#http_plot"), [ {{ http_stats }} ], options);

        // function update() {
        //     cpu_plot.setData([ {{ cpu_stats }} ]);
        //     http_plot.setData([ {{ http_stats }} ]);
        //     // since the axes don't change, we don't need to call plot.setupGrid()
        //     cpu_plot.draw();
        //     http_plot.draw();
            
        //     setTimeout(update, updateInterval);
        // }
        // update();
    // });
       
    </script>
    
{% endblock %}